<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Bai Jamjuree' rel='stylesheet'>
    {% if title %}
    <title>Data - {{ title }}</title>
    {% else %}
    <title>Kamseupai</title>
    <script src="https://kit.fontawesome.com/c32b8806e8.js"></script>

    {% endif %}

    <style>
        body {
            background-image: url('{{ url_for('static', filename='background.png') }}');
            font-family: 'Bai Jamjuree';
            font-size: 18px;

        }

        .bg-info {
            background-color: #03A4D2 !important;
        }


        .btn-light,
        .btn-light:active,
        .btn-light:visited {
            color: #03A4D2;
            font-weight: bold;
        }
    </style>
</head>

<body>

    <header class="site-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top">
            <a class="navbar-brand" href="#">
                <a class="navbar-brand mr-4" href="{{ url_for('admin.admin_index') }}">
                    <img src="{{ url_for('static', filename='kamseupai_adm.png') }}" width="220px;">
                </a>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <!-- button -->
                    <!-- button -->
                </ul>
                <div class="form-inline my-2 my-lg-0">
                    <!--  -->




                    <!-- DROPDOW -->
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Panel
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <h6 class="dropdown-header">Home</h6>
                            <a href="/" class="dropdown-item">Aplikasi</a>

                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">Fitur Admin</h6>
                            <a class="dropdown-item" href="{{ url_for('admin.pesanan') }}" class="btn btn-light">
                                Pesanan <span class="badge badge-info">{{ n_pesanan }}</span></a>
                            <a class="dropdown-item" href="{{ url_for('admin.view_slider') }}"
                                class="btn btn-light">Slider</a>

                        </div>
                    </div>
                    <div style="width: 10px;"></div>
                    <!-- DROPDOWN -->

                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Homestay
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">

                            <a href="{{ url_for('admin.view_homestay') }}" class="dropdown-item">
                                <i class="fas fa-bars"></i> Lihat</a>
                            <a href="{{ url_for('admin.add_homestay') }}" class="dropdown-item">
                                <i class="fas fa-plus"></i> Tambah</a>

                        </div>
                    </div>
                    &ensp;
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Atraksi
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">

                            <a href="{{ url_for('admin.view_wisata') }}" class="dropdown-item">
                                <i class="fas fa-bars"></i> Lihat</a>
                            <a href="{{ url_for('admin.add_wisata') }}" class="dropdown-item">
                                <i class="fas fa-plus"></i> Tambah</a>

                        </div>
                    </div>
                    &ensp;

                    <!--  -->
                    <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-warning my-2 my-sm-0" type="submit">Search</button> -->



                    <a href="{{ url_for('admin.logout_admin') }}" class="btn btn-danger">Logout</a>
                    <div style="width: 50px;"></div>

                </div>
            </div>
        </nav>
    </header>

    {% block content %}{% endblock %}

</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</html>