{% extends "admin_layout.html" %}
{% block content %}
<style>
    #carding {
        border-radius: 15px;
        padding: 20px;
        width: auto;
        height: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
</style>
<main role="main" class="container">
    <div class="content-section" id="carding">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert"> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <p class='text-muted'>
            <legend class="border-bottom mb-4"> <strong>Status Pesanan Homestay</strong></legend>
        </p>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-row">
                <div class="col-3">
                    {{ form.keyword(class="form-control mr-sm-2") }}
                </div>
                <div class="col">
                    {{ form.submit(class="btn btn-info") }}
                </div>
            </div>
        </form>
        <br>

        <div class="table-responsive-md">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <!-- <th scope="col">#</th> -->
                        <th scope="col">Check-in</th>
                        <th scope="col">Homestay</th>
                        <th scope="col">Durasi</th>
                        <th scope="col">Detail</th>
                        <th scope="col">Bukti</th>
                        <th scope="col">Tanggal Transaksi</th>
                        <th scope="col">Pembayaran</th>
                        <th scope="col">Kepulangan</th>
                    </tr>
                </thead>
                {% for form, id, form_b in paginate.items|zip(no, data_bukti) %}
                <tbody>
                    <tr>
                        <td>{{form.tgl_check_in}}</td>
                        <!-- <th scope="row">{{id}}</th> -->
                        <td>{{home.query.get(form.id_homestay).nama_homestay}}</td>
                        <!-- <td> {{ form.no_ktp }} </td> -->
                        <!-- <td> {{ form.no_passport }} </td> -->

                        <td>{{form.malam}} malam</td>
                        <td>

                            <!-- MODAL -->

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-light" data-toggle="modal"
                                data-target="#exampleModalLong{{ id }}">
                                lihat
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalLong{{ id }}" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLong{{ id }}Title" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content" id="carding">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLong{{ id }}Title">Detail Pemesan
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- BODY -->
                                            <article class="col-sm-12">
                                                <dl class="dlist-align">
                                                    <dt>Nama Lengkap</dt>
                                                    <dd>{{ form.nama_lengkap }}</dd>
                                                </dl> <!-- item-property-hor .// -->
                                                <dl class="dlist-align">
                                                    <dt>Nomor KTP</dt>
                                                    <dd>{{ form.no_ktp }}</dd>
                                                </dl> <!-- item-property-hor .// -->
                                                <dl class="dlist-align">
                                                    <dt>Nomor Passport</dt>
                                                    <dd>{{ form.no_passport }}</dd>
                                                </dl> <!-- item-property-hor .// -->
                                                <dl class="dlist-align">
                                                    <dt>Tanggal Check in</dt>
                                                    <dd>{{form.tgl_check_in}}</dd>
                                                </dl> <!-- item-property-hor .// -->
                                                <dl class="dlist-align">
                                                    <dt>Tanggal Check out</dt>
                                                    <dd>{{form.tgl_check_out}}</dd>
                                                </dl> <!-- item-property-hor .// -->

                                                <dl class="dlist-align">
                                                    <dt>Jumlah kamar</dt>
                                                    <dd> {{form.kamar}} kamar</dd>
                                                </dl> <!-- item-property-hor .// -->
                                                <dl class="dlist-align">
                                                    <dt>Tanggal Transaksi</dt>
                                                    <dd> {{ form.create_at.date() }} </dd>
                                                </dl> <!-- item-property-hor .// -->
                                                <!-- BODY -->




                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- MODAL -->

                        </td>
                        <td>

                            <!-- MODAL -->

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#resi{{ id }}">
                                lihat
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="resi{{ id }}" tabindex="-1" role="dialog"
                                aria-labelledby="resi{{ id }}Title" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content" id="carding">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="resi{{ id }}Title">Bukti Transaksi</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- BODY -->
                                            <article class="col-sm-12">
                                                <dl class="dlist-align">
                                                    <dt>Nama Rekening</dt>
                                                    <dd>{{ form_b.nama_rek }}</dd>
                                                </dl> <!-- item-property-hor .// -->
                                                <dl class="dlist-align">
                                                    <dt>Bank Tujuan Transfer</dt>
                                                    <dd>{{ form_b.bank_tujuan }}</dd>
                                                </dl> <!-- item-property-hor .// -->
                                                <dl class="dlist-align">
                                                    <dt>Foto bukti transaksi</dt>
                                                    <dd>
                                                        <a href="{{ form_b.foto_bukti }}">
                                                            <img src="{{ form_b.foto_bukti }}" alt="" width="250px">
                                                        </a>
                                                    </dd>
                                                </dl> <!-- item-property-hor .// -->
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- MODAL -->

                        </td>
                        <td>
                            <center><span class="badge badge-warning">{{ form.create_at.date() }}</span></center>
                        </td>
                        <td>
                            {% set status_var = false %}
                            {% if form.status_pesanan == false %}
                            <a href="{{ url_for('admin.konfirmasi', id=form.id) }}" class="btn btn-outline-danger">
                                Konfirmasi </a>
                            {% else %}
                            <a href="#" class="btn btn-danger disabled"> Siap ditempati </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if form.status_pesanan == true %}
                            <a href="{{ url_for('admin.konfirmasi_kepulangan', idhomestay=form.id_homestay) }}"
                                class="btn btn-outline-info">
                                Konfirmasi</a>
                            {% else %}
                            <a href="#" class="btn btn-info disabled"> selesai </a>

                            <!-- <a href="#" class="btn btn-danger disabled"> selesai </a> -->
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>

        </div>

        <!-- <legend class="border-bottom mb-4"></legend> -->
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm">

                </div>
                <div class="col-sm">

                    <!-- pagination -->
                    <div>
                        <nav aria-label="...">
                            <ul class="pagination">
                                {% if paginate.prev_num == None %}
                                <li class="page-item disabled">
                                    <span class="page-link">Previous</span>
                                </li>

                                {% else %}
                                <li class="page-item">
                                    <a class="page-link"
                                        href="{{ url_for('admin.pesanan', page=paginate.prev_num) }}">Previous</a>
                                </li>

                                {% endif %}

                                {% if prev_page == '0' %}
                                {% else %}
                                <li class="page-item"><a class="page-link"
                                        href="{{ url_for('admin.pesanan', page=paginate.prev_num) }}">{{ paginate.prev_num }}</a>
                                </li>
                                {% endif %}
                                <li class="page-item active">
                                    <span class="page-link">
                                        {{paginate.page}}
                                        <span class="sr-only">(current)</span>
                                    </span>
                                </li>
                                {% if paginate.next_num != None %}
                                <li class="page-item"><a class="page-link"
                                        href="{{ url_for('admin.pesanan', page=paginate.next_num) }}">{{paginate.next_num}}</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link"
                                        href="{{ url_for('admin.pesanan', page=paginate.next_num) }}">Next</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link"
                                        href="{{ url_for('admin.pesanan', page=paginate.next_num) }}">Next</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <!-- pahination -->

                </div>
                <div class="col-sm">

                </div>
            </div>
        </div>


    </div>
</main>

{% endblock %}