{% extends "home_layout.html" %}
{% block content %}
<style>
  #carding {
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
</style>
<main role="main" class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="content-section" id="carding">
        <div class="table-responsive">
          <article class="card card-product">
            <div class="card-body">
              <div class="row">
                <div class="col-md-10">
                  Apakah Anda ingin memesan paket wisata Juga ? Kalau tidak klik tombol lanjutkan
                </div>
                <div class="col-md-2">
                  <a href="{{ host }}/book-processing" class="btn btn-outline-danger"> <strong>
                      Lanjutkan <i class="fas fa-arrow-right"></i>

                    </strong>
                  </a>
                </div>

              </div>

            </div> <!-- card-body .// -->
          </article>
        </div>
      </div>
      <div class="content-section" id="carding">
        <p class='text-muted'>
          <legend class="border-bottom mb-4"> <strong>Pilih hanya <strong> 1 paket wisata </strong> yang ada </strong>
            di {{ form_homestay.nama_homestay }} </legend>
        </p>
        <div class="row">

          {% for data in form %}
          <div class="col">

            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{{ data.foto_wisata }}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Paket Wisata : <strong>{{ data.wisata }}</strong></h5>

                <div class="text-muted">
                  <h6> <strong> Biaya paket : <br> </strong> Rp. {{ formatrupiah(data.biaya) }} </h6>
                  <h6><strong> Deskripsi : <br> </strong> {{ data.kegiatan }}</h6>
                  <h6><strong> Fasilitas : <br> </strong> {{ data.kegiatan }}</h6>

                </div>

                <a href="{{ host }}/book/homestay/wisata/{{ data.id }}" class="btn btn-info"><i class="fas fa-plus"></i>
                  Tambah Paket</a>
              </div>
            </div>

          </div>

          {% endfor %}



        </div>
      </div>


    </div>

  </div>
</main>
{% endblock %}