{% extends "main_layout.html" %}
{% block content %}
<main role="main" class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="content-selection">
        <form class="form-inline">
          <div class="form-group mb-2">
            <input type="text" class="form-control" id="inputPassword2" placeholder="Temukan Homestay">
          </div>
          <div class="form-group mx-sm-2 mb-2">
          </div>
          <button type="submit" class="btn btn-warning mb-2">Cari Homestay</button>
        </form>
      </div>
      <!-- LOGIC -->
      <div class="content-section">
        <article class="card card-product">
          <div class="card-body">
            <div class="row">
              <aside class="col-sm-3">
                <div class="img-wrap"><img class="rounded float-left"
                    src="{{ url_for('static', filename='background.png') }}" width="250px"></div>
              </aside> <!-- col.// -->
              <article class="col-sm-6">
                <a href="#" style="color: black"> <strong>Homestay Asri Mataram</strong></a>
                <div class="rating-wrap">
                  <div class="text-muted"><strong> Lok : </strong> Jalan Majapahit, Mataram </div></strong>
                  <p> ini nyaman </p>
                </div> <!-- rating-wrap.// -->
                <!-- <p> {{ alamat }}</p> -->
              </article> <!-- col.// -->
              <aside class="col-sm-3 border-left">
                <div class="action-wrap">
                  <div class="price-wrap h4">
                    <span class="price"> Rp. 150.000 </span> <br>
                    <del class="price-old"> Rp. 200.000 </del>
                  </div> <!-- info-price-detail // -->
                  <p class="text-success">potongan 20%</p>
                  <p>
                    <a href="#" class="btn btn-outline-info"> Detail </a>
                    <a href="#" class="btn btn-success"> favoritkan </a>
                  </p>
                </div> <!-- action-wrap.// -->
              </aside> <!-- col.// -->
            </div> <!-- row.// -->
          </div> <!-- card-body .// -->
        </article> <!-- product-list.// -->
      </div>
    </div>
  </div>
  </div>
</main>
{% endblock %}