{% extends "home_layout.html" %}
{% block content %}
<style>
  #carding {
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
</style>
<main role="main" class="container">
  <div class="row">
    <div class="col col-lg-8">

      <div class="content-section" id="carding">
        <p class='text-muted'>
          <legend class="border-bottom mb-4"> Detail <strong>Homestay</strong></legend>
        </p>
        <div class="card-body">
          <div class="row">
            <div class="table-responsive-md">
              <aside class="col-sm-3">
                <div class="img-wrap"><img class="rounded float-left" src="{{ form.foto_homestay }}" width="250px">
                </div>
              </aside> <!-- col.// -->
            </div>
            <article class="col-sm-6">

              <h2 class="title"> <strong>{{ form.nama_homestay }}</strong></h2>
              <!-- <div class="rating-wrap">
                <strong>
                  <div class="label-rating">132 reviews</div>
                </strong>

              </div> rating-wrap.// -->
              <h5>
                <dl class="dlist-align">
                  <dt>Lokasi</dt>
                  <dd>{{ form.alamat }}</dd>
                </dl> <!-- item-property-hor .// -->
                <dl class="dlist-align">
                  <dt>Jumlah Kamar</dt>
                  <dd>{{ form.jumlah_kamar }}</dd>
                </dl> <!-- item-property-hor .// -->
                <dl class="dlist-align">
                  <dt>Fasilitas</dt>
                  <dd>{{ form.fasilitas }}</dd>
                </dl> <!-- item-property-hor .// -->
                <dl class="dlist-align">
                  <dt>Deskripsi</dt>
                  <dd>{{ form.deskripsi }}</dd>
                </dl> <!-- item-property-hor .// -->
              </h5>

            </article> <!-- col.// -->
          </div>


        </div> <!-- row.// -->
      </div> <!-- card-body .// -->

      </article> <!-- product-list.// -->
    </div>

    <div class="col">
      <div class="content-section" id="carding">
        <p class='text-muted'>
          <legend class="border-bottom mb-4 text-info"> Pesan Sekarang </legend>
        </p>

        <!-- <aside class="col-sm-3 border-left"> -->
        <div class="action-wrap">
          {% if form.diskon != 0 %}
          <div class="price-wrap h4">
            <span class="price"> Rp. {{ diskon }}</span> <span style="font-size: 14px;">/ malam</span> <br>
            <del class="price-old"> Rp. {{ formatrupiah(form.harga) }} </del>
          </div> <!-- info-price-detail // -->
          <p class="text-success">potongan {{ form.diskon }}%</p>
          {% else %}

          <div class="price-wrap h4">
            <span class="price"> Rp. {{ diskon }}</span> <span style="font-size: 14px;">/ malam</span> <br>
          </div> <!-- info-price-detail // -->
          {% endif %}
          <p>
            <!-- <button type="button" class="btn btn--outline-light" disabled>Terpesan</button> -->
            <form action="" method="POST">
              <div class="form-group">
                <label for="malam" class="form-contol">
                  <h6>Berapa hari ?</h6>
                </label>
                <input type="number" class="form-control" name="malam" placeholder="Durasi ditempati" required>
                <label for="kamar" class="form-contol">
                  <h6>Berapa kamar ?</h6>
                </label>
                <input type="number" class="form-control" name="kamar" placeholder="Jumlah Kamar yang dibutuhkan"
                  required>
                <label for="check_in" class="form-contol">
                  <h6>Tanggal Check in ?</h6>
                </label>
                <input type="date" class="form-control" name="check_in" placeholder="Tanggal Check in" required>
                <label for="nama_lengkap" class="form-contol">
                  <h6>Nama Lengkap sesuai KTP</h6>
                </label>
                <input type="text" class="form-control" name="nama_lengkap" placeholder="Nama Lengkap" required>
                <label for="no_ktp" class="form-contol">
                  <h6>Nomor KTP / E-ID card Number</h6>
                </label>
                <input type="text" class="form-control" name="no_ktp" placeholder="Nomor KTP" required>
                <label for="no_passport" class="form-contol">
                  <h6>Nomor Passport (opsional)</h6>
                </label>
                <input type="text" class="form-control" name="no_passport" placeholder="Nomor Passport">

              </div>
              <button type="submit" class="btn btn-outline-info btn-block"> <strong> Pesan Homestay </strong>
              </button>
            </form>
          </p>

          <!-- <a href="#"><i class="fa fa-heart"></i> Tambah ke favorit</a> -->


        </div> <!-- action-wrap.// -->
        <!-- </aside> col.// -->
      </div>
    </div>
  </div>

  <br>
  {% if form_wisata %}
  <div class="content-section" id="carding">
    <!-- <article class="card card-product"> -->

    <div class="card-body">
      <div class="row">
        <div class="col-md-10">
          Atraksi / kegiatan wisata yang bisa dinikmati di <strong> {{ form.nama_homestay }} </strong>
        </div>
      </div>

    </div>


    <div class="row">
      {% for form in form_wisata %}
      <div class="table-responsive-md">
        <aside class="col-sm-3">
          <div class="img-wrap"><img class="rounded float-left" src="{{ form.foto_wisata }}" width="230px">
          </div>
        </aside> <!-- col.// -->
      </div>
      <article class="col-sm-6">
        <p style="color: black"> <strong>{{ form.wisata }}</strong></p>
        <div class="rating-wrap">
          <div class="text-muted">
            <!-- <h6> <strong> lokasi : <br> </strong> # -->
          </div></strong> </h6>
          <div class="text-muted">
            <p> <strong> deskripsi : <br> </strong> {{ form.kegiatan }}
          </div></strong> </p>

        </div> <!-- rating-wrap.// -->
      </article> <!-- col.// -->
      <aside class="col-sm-3 border-left">
        <div class="action-wrap">
          <div class="price-wrap h4">
            <h5>Biaya</h5>
            <span class="price"> Rp. {{ formatrupiah(form.biaya) }} </span> <br>
          </div>

          <p>
            <!-- <a href="#" class="btn btn-outline-success btn-sm"> Favoritkan </a> <a href="#"
              class="btn btn-outline-info btn-sm"> Detail </a> <br>
            <span class="badge badge-success">tersedia</span> -->

          </p>
        </div> <!-- action-wrap.// -->
      </aside> <!-- col.// -->
      {% endfor %}
    </div>

  </div>
  {% else %}
  {% endif %}
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
</main>
{% endblock %}