<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"> -->

    <!-- new icon -->
    <link rel="stylesheet" href="{{ url_for('static', filename='icon/css/all.css') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Bai Jamjuree' rel='stylesheet'>
    {% if title %}
    <title>Data - {{ title }}</title>
    {% else %}
    <title>Kamseupai</title>
    <script src="https://kit.fontawesome.com/c32b8806e8.js"></script>

    {% endif %}

    <style>
        body {
            background-image: url('{{ url_for('static', filename='background.png') }}');
            font-family: 'Bai Jamjuree';
            font-size: 18px;

        }

        .bg-info {
            background-color: #03A4D2 !important;
        }


        .btn-light,
        .btn-light:active,
        .btn-light:visited {
            color: #03A4D2;
            font-weight: bold;
        }

        .bg-4 {
            background-color: rgb(26, 86, 94);

        }

        footer {
            clear: both;
            position: relative;
            height: auto;
            margin-top: 20%;
        }
    </style>
</head>

<body>

    <header class="site-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top">
            <a class="navbar-brand" href="#">
                <a class="navbar-brand mr-4" href="{{ url_for('home.index') }}">
                    <img src="{{ url_for('static', filename='icons/kmse.png') }}" width="130px;" height="30px">
                </a>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                {% if formm %}
                <form action="/" method="POST">
                    {{ formm.hidden_tag() }}
                    <ul class="navbar-nav mr-auto">


                        <li class="nav-item">
                            {{ formm.keyword(class="form-control mr-sm-2", size=45) }}
                            <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
                        </li>
                        <li class="nav-item">
                            <div style="width: 15px;">

                            </div>
                        </li>
                        <li>
                            <!-- <button class="btn btn-warning my-2 my-sm-0" type="submit">Search</button> -->
                            {{ formm.submit(class="btn btn-warning my-2 my-sm-0") }}
                        </li>

                    </ul>
                </form>
                {% else %}
                {% endif %}

                <div class="form-inline my-2 my-lg-0">
                    <!--  -->

                    <!--  -->
                    <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-warning my-2 my-sm-0" type="submit">Search</button> -->
                    &ensp;
                    <div class="dropdown">
                        <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenu2"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bookmark"></i> Favorit
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            {% if favs_exist == True %}
                            {% for data in favs %}
                            <div class="card-body">
                                <table>
                                    <tr>

                                        <td> <img src="{{ homestay.query.get(data.id_homestay).foto_homestay }}" alt=""
                                                width="35px" height="35px">
                                        </td>
                                        <td>
                                            <a class="dropdown-item"
                                                href="{{ url_for('home.detail_homestay', id=data.id_homestay) }}">{{ data.fav_homestay }}</a>
                                        </td>
                                        <td>
                                            <a href="{{ url_for('home.remove_favorit',id=data.id) }}"
                                                class="btn btn-default"> <img
                                                    src="{{ url_for('static', filename='cross.png') }}" alt=""
                                                    width="17px" height="17px"> </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            {% endfor %}
                            {% else %}
                            <a class="dropdown-item">"Belum ada item yang disukai"</a>
                            {% endif %}
                        </div>
                    </div>
                    &ensp;
                    {% if current_user.is_authenticated %}
                    {% if img_user is none %}
                    <img id="img" class="rounded-circle" src="{{ url_for('static', filename='default_profile.png') }}"
                        width="35px" height="35px"> &ensp;
                    {% else %}
                    <img class="rounded-circle" src="{{ img_user }}" alt="" width="35px" height="35px"> &ensp;
                    {% endif %}
                    <div class="dropdown">
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                            Account
                        </button>
                        <div class="dropdown-menu">
                            <h6 class="dropdown-header">Status Pesanan</h6>
                            <a href="{{ url_for('home.status_pesanan') }}" class="dropdown-item">Pesanan</a>
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">Pengaturan akun</h6>
                            <a class="dropdown-item" href="{{ url_for('home.user_detail') }}"> Profile</a>
                            <a href="{{ host }}/logout" class="dropdown-item">Logout</a>
                        </div>
                    </div>

                    {% else %}
                    <!-- login -->
                    <div class="dropdown">
                        <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            login
                        </button>
                        <form action="" class="dropdown-menu p-4" method="POST">
                            <div class="form-group">
                                <label for="exampleDropdownFormEmail2">Username</label>
                                <input type="text" class="form-control" placeholder="Username Anda" name="username">
                            </div>
                            <div class="form-group">
                                <label for="exampleDropdownFormPassword2">Password</label>
                                <input type="password" class="form-control" name="password" placeholder="Password">
                            </div>
                            <h6 class="text-muted">Atau register <a href="{{ url_for('auth.register') }}">di
                                    sini</a></h6>

                            <button type="submit" class="btn btn-info btn-block">Masuk</button>
                        </form>
                    </div>
                    <!-- login -->
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>

    {% block content %}{% endblock %}

    <br>
    <footer class="footer mt-auto py-3 text-center bg-4">
        <div class="container">

            <p style="text-align: justify; color: white; font-size: 12px;">
                Belanja Online Murah di Bukalapak
                Bukalapak merupakan situs belanja online terpercaya di Indonesia yang menjual beragam produk yang
                dibutuhkan seluruh masyarakat Indonesia. Seiring berkembangnya teknologi, semakin banyak aktivitas yang
                dilakukan secara digital, lebih mudah dan praktis, termasuk kegiatan pembelanjaan yang kini semakin
                marak dilakukan secara digital, baik melalui komputer, laptop, hingga smartphone yang bisa diakses kapan
                saja dan di mana saja. Bukalapak hadir sebagai toko online terpercaya dengan sistem konsumen ke
                konsumen. Hal ini memungkinkan setiap orang untuk menjual dan juga membeli produk dengan mudah secara
                online. Sarana jual beli online Bukalapak memiliki visi untuk menjadi marketplace nomor satu di
                Indonesia dengan misi untuk memberdayakan UKM di seluruh penjuru Indonesia. Setiap orang di Indonesia
                dapat memasarkan produk unggulannya di Bukalapak dengan membuka toko online murah dengan pilihan sistem
                belanja satuan dan juga grosir.
            </p>
            <p style="text-align: justify; color: white; font-size: 12px;">
                Keunggulan Belanja Online di Bukalapak
                Kategori Produk Terlengkap. Salah satu keunggulan yang bisa langsung dirasakan dengan belanja di
                Bukalapak
                adalah lengkapnya kategori produk. Halaman situs Bukalapak memiliki tampilan navigasi kategori barang
                untuk
                memudahkan pembeli dalam memilih produk yang dinginkan. Kategori tersedia lengkap mulai dari kebutuhan
                rumah
                tangga, elektronik rumah tangga, furniture rumah tangga, hingga gadget dan smartphone. Bukalapak juga
                dikenal baik sebagai toko online murah untuk kategori sepeda beserta aksesorisnya lengkap. Tidak hanya
                itu,
                tersedia juga produk fashion anak, pria, dan wanita, serta produk otomotif yang kini juga sudah tersedia
                dalam fitur BukaMobil.
            </p>
            <p style="text-align: justify; color: white; font-size: 12px;">
                Promo Meriah. Selain lengkapnya kategori produk yang tersedia, Bukalapak juga menawarkan harga promo
                menarik
                setiap harinya yang bisa Anda akses pada halaman promo. Terdapat banyak pilihan promo dengan masa
                berlaku
                yang beragam untuk berbagai produk, di antaranya promo smartphone hingga promo tiket kereta murah.
                Caranya
                juga sangat mudah, Anda hanya perlu memasukkan kode voucher atau kode promo yang sedang berlaku untuk
                produk
                yang Anda inginkan.
            </p>
            <p style="text-align: justify; color: white; font-size: 12px;">
                Virtual Product. Situs jual beli online Bukalapak juga menyediakan virtual product dalam bentuk
                e-voucher
                dan tiket, mulai dari tiket pesawat, tiket kereta, kuota internet, paket data, hingga voucher game.
                Harga
                yang ditawarkan juga lebih murah dibandingkan toko lainnya sehingga belanja Anda lebih hemat. Tersedia
                juga
                fitur pembayaran zakat profesi yang bisa Anda bayarkan dengan sangat mudah dan praktis dengan bantuan
                kalkulator zakat untuk menghitung bayaran zakat yang sebaiknya dibayar.
            </p>
            <p style="text-align: justify; color: white; font-size: 12px;">
                Aman dan Terpercaya. Belanja online di Bukalapak tidak perlu khawatir tertipu dengan adanya jaminan 100%
                aman. Pembeli diberikan jaminan 100% uang kembali apabila produk yang sudah Anda bayar tidak kunjung
                tiba di
                tempat Anda. Tak jarang orang yang khawatir tertipu sehingga memilih untuk beli offline. Singkirkan
                segala
                keraguan belanja online dengan adanya jaminan uang aman 100% di Bukalapak.
            </p>
            <p style="text-align: justify; color: white; font-size: 12px;">
                Sistem Pembayaran Mudah. Situs belanja online terpercaya Bukalapak menawarkan beragam sistem pembayaran
                untuk memudahkan jual beli online Anda, di antaranya pembayaran yang praktis melalui BukaDompet, yakni
                dompet virtual yang bisa Anda isi dengan melakukan transfer sehingga memudahkan Anda dalam ativitas
                shoping
                setiap harinya di Bukalapak. Selain itu, ada juga pembayaran melalui bank transfer, instant payment
                melalui
                BCA KlikPay, Mandiri E-Cash, dan CIMB Clicks, serta sistem cicilan yang bisa Anda lakukan dengan kartu
                kredit dan juga cicilan Kredivo.
            </p>
            <legend class="border-bottom mb-4"> <strong></strong></legend>
            <div>
                <div class="card-deck">
                    <div class="card" style="background-color: rgb(26, 86, 94);">
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='icons/homestay.png') }}" width="150px" alt="...">
                            <h5 class="card-title" style="color: white;">Card title</h5>
                            <p style="text-align: justify; color: white; font-size: 12px;" class="card-text">This is a
                                longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                    <div class="card" style="background-color: rgb(26, 86, 94);">
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='icons/homestay.png') }}" width="150px" alt="...">
                            <h5 class="card-title" style="color: white;">Card title</h5>
                            <p style="text-align: justify; color: white; font-size: 12px;" class="card-text">This is a
                                wider card with supporting text below as a natural lead-in to
                                additional content. This card has even longer content than the first to show that equal
                                height action.</p>
                        </div>
                    </div>
                    <div class="card" style="background-color: rgb(26, 86, 94);">
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='icons/homestay.png') }}" width="150px" alt="...">
                            <h5 class="card-title" style="color: white;">Card title</h5>
                            <p style="text-align: justify; color: white; font-size: 12px;" class="card-text">This is a
                                wider card with supporting text below as a natural lead-in to
                                additional content. This card has even longer content than the first to show that equal
                                height action.</p>
                        </div>
                    </div>
                    <div class="card" style="background-color: rgb(26, 86, 94);">
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='icons/homestay.png') }}" width="150px" alt="...">
                            <h5 class="card-title" style="color: white;">Card title</h5>
                            <p style="text-align: justify; color: white; font-size: 12px;" class="card-text">This is a
                                wider card with supporting text below as a natural lead-in to
                                additional content. This card has even longer content than the first to show that equal
                                height action.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="col" id="" style="height: auto;">
                            <span style="color: white"><strong>Alamat</strong></span> <br>
                            <span style="color: white">Jl. Majapahit No. 62, Universitas Mataram, Kota Mataram, Prov.
                                Nusa Tenggara Barat</span>
                        </div>
                    </div>
                    <div class="col" id="" style="height: auto;">
                        <span style="color: white"><strong>Kamseupai.com</strong></span> <br>
                        <span style="color: white">(Kampung Seribu Pariwisata)</span>
                        <span style="color: white">Merupakan platform yang mnyediakan jasa pemesanan homestay yang ada
                            di desa wisata</span>
                    </div>
                    <div class="col">

                        <div class="col" id="" style="height: auto;">
                            <span style="color: white"><strong>Greeting</strong></span> <br>
                            <p style="color: white; text-align: center"> Terima kasih atas kunjungan Anda ke website
                                kami ini. Setiap kunjungan Anda, sangat bernilai buat warga desa</p>
                        </div>
                    </div>
                </div>


            </div> -->
        </div>
    </footer>
</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</html>