{% extends "home_layout.html" %}
{% block content %}
<style>
  #carding {
    border-radius: 15px;
    padding: 20px;
    width: auto;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
</style>

<main class="container">
  <div class="row">

  </div>
</main>


<main role="main" class="container">
  <div class="col"></div>
  <div class="col">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
      <span class="text-muted"> {{ message }} </span> &ensp; <a href="{{ url_for('home.user_detail') }}"
        class="btn btn-outline-danger"> Update
        Profile</a>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
  <div class="col"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="content-selection">
        <!-- <form class="form-inline">
          <div class="form-group mb-2">
            <input type="text" class="form-control" id="inputPassword2" placeholder="Temukan Homestay">
          </div>
          <div class="form-group mx-sm-2 mb-2">
          </div>
          <button type="submit" class="btn btn-warning mb-2">Cari Homestay</button>
        </form> -->
      </div>
      <br>
      <!-- LOGIC -->
      {% for data, idr, diskon in form | zip(rupiah, ls_diskon) %}
      <div class="content-section" id="carding">

        <div class="card-body">
          <div class="row">
            <div class="table-responsive-md">
              <aside class="col-sm-3">
                <div class="img-wrap"><img class="rounded float-left" src="{{ data.foto_homestay }}" width="230px">
                </div>
              </aside> <!-- col.// -->
            </div>
            <article class="col-sm-6">
              <a href="{{ url_for('home.detail_homestay', id=data.id) }}" style="color: black">
                <strong>{{ data.nama_homestay.capitalize() }}</strong></a>
              <div class="rating-wrap">
                <div class="text-muted">
                  <h6> <strong> lokasi : <br> </strong> {{ data.alamat }}, <strong>{{ data.provinsi }}</strong>
                </div></strong> </h6>
                <div class="text-muted">
                  <h6> <strong> deskripsi : <br> </strong> {{ data.deskripsi[:200] }} .......
                </div></strong> </h6>
                <!-- <h5> {{ data.deskripsi[:145] }} . . . . </h5> -->
              </div> <!-- rating-wrap.// -->
              <!-- <p> {{ alamat }}</p> -->
            </article> <!-- col.// -->
            <aside class="col-sm-3 border-left">
              <div class="action-wrap">
                <div class="price-wrap h4">
                  <span class="price"> Rp. {{ diskon }} </span> <br>
                  <del class="price-old"> Rp. {{ idr }} </del>
                </div> <!-- info-price-detail // -->
                <h5 class="text-success">potongan {{data.diskon}} %</h5>
                <p>
                  {% if fav == False  %}
                  <a href="{{ url_for('home.favorit', id=data.id) }}" class="btn btn-success btn-sm">
                    <i class="fas fa-heart"></i>
                    {% else %}
                    <a href="{{ url_for('home.favorit', id=data.id) }}" class="btn btn-outline-success btn-sm disabled">
                      <i class="fas fa-heart"></i>
                      {% endif %}
                    </a> <a href="{{ url_for('home.detail_homestay', id=data.id) }}"
                      class="btn btn-outline-info btn-sm">
                      Detail </a> <br>
                    <span class="badge badge-success">tersedia</span>

                </p>
              </div> <!-- action-wrap.// -->
            </aside> <!-- col.// -->
          </div> <!-- row.// -->
        </div> <!-- card-body .// -->
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="row">

    <div class="col-sm"></div>
    <div class="col-sm">

      <!-- pagination -->
      {% if form %}
      <div>
        <nav aria-label="page" style="margin-left: 100px;">
          <ul class="pagination pagination-sm">
            {% if paginate.prev_num == None %}
            <li class="page-item disabled">
              <span class="page-link">Previous</span>
            </li>

            {% else %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for('home.index', page=paginate.prev_num) }}">Previous</a>
            </li>

            {% endif %}

            {% if prev_page == '0' %}
            {% else %}
            <li class="page-item"><a class="page-link"
                href="{{ url_for('home.index', page=paginate.prev_num) }}">{{ paginate.prev_num }}</a>
            </li>
            {% endif %}
            <li class="page-item active">
              <span class="page-link">
                {{paginate.page}}
                <span class="sr-only">(current)</span>
              </span>
            </li>
            {% if paginate.next_num != None %}
            <li class="page-item"><a class="page-link"
                href="{{ url_for('home.index', page=paginate.next_num) }}">{{paginate.next_num}}</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="{{ url_for('home.index', page=paginate.next_num) }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="{{ url_for('home.index', page=paginate.next_num) }}">Next</a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>

      {% else %}
      {% endif %}
      <!-- pahination -->


    </div>
    <div class="col-sm"></div>


  </div>


  </div>
</main>
{% endblock %}