{% extends "home_layout.html" %}
{% block content %}
<style>
  #carding {
    border-radius: 15px;
    padding: 20px;
    width: auto;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .carousel-inner {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
</style>

<main class="container">
  <div class="row">

  </div>
</main>


<main role="main" class="container">
  <div class="col"></div>
  <div class="col">
    <div id="atas"></div>

    <script type="text/babel">
      class App extends React.Component {
        render(){
          return (<h3> Selamat Datang  </h3>)
        }

      }
      ReactDOM.render(<App />, document.getElementById('atas'))
    </script>


    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
      <span class="text-muted"> {{ message }} </span> &ensp;
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
  <div class="col"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="content-selection">
        <!-- <form class="form-inline">
          <div class="form-group mb-2">
            <input type="text" class="form-control" id="inputPassword2" placeholder="Temukan Homestay">
          </div>
          <div class="form-group mx-sm-2 mb-2">
          </div>
          <button type="submit" class="btn btn-warning mb-2">Cari Homestay</button>
        </form> -->
      </div>
      <br>
      <!-- LOGIC -->

      <!-- SLIDE SHOW -->
      <!-- SLIDE SHOW -->
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          {% if len_sliders > 1 %}
          <div class="carousel-item active">
            <img class="d-block w-100" src="{{ sliders[0].image }}" width="100%" height="250px" alt="First slide" />
          </div>

          {% for data in sliders[1:] %}
          <div class="carousel-item">
            <img class="d-block w-100" src="{{ data.image }}" width="100%" height="250px" alt="First slide" />
          </div>
          {% endfor %}
          {% else %}
          <div class="carousel-item active">
            <img class="d-block w-100"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRwjZrESqUuuUFgQ3TxNBE_2xlrtIghwkBrQF6cgY-hnzzy2cmz"
              width="100%" height="250px" alt="First slide" />
          </div>
          {% endif %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <br />
      <!-- SLIDE SHOW -->

      <!-- SLIDE SHOW -->



      <div class="content-section" id="carding">
        <div class="card-body">
          {% for data, idr, diskon, homeTersedia  in form | zip(rupiah, ls_diskon, available) %}
          <div class="row">
            <div class="table-responsive-md ">
              <aside class="col-sm-3">
                <div class="img-wrap">
                  {% if homeTersedia.ketersediaanHomestay == true  %}
                  <a href="{{ url_for('home.detail_homestay', id=data.id) }}"><img class="rounded float-left"
                      src="{{ data.foto_homestay }}" width="230px" /></a>
                  {% else %}
                  {% set infoDurasi = durasi.query.filter_by(id_homestay=data.id).first().malam %}
                  <a href="{{ url_for('home.detail_homestay', id=data.id) }}"><img class="rounded float-left"
                      src="{{ data.foto_homestay }}" width="230px" data-toggle="tooltip" data-placement="top"
                      title="Sedang dibooking selama {{ infoDurasi }} hari" /></a>
                  {% endif %}


                </div>
              </aside> <!-- col.// -->
            </div>
            <article class="col-sm-6">

              {% if homeTersedia.ketersediaanHomestay == true  %}
              <p class="h3"> <a s href="{{ url_for('home.detail_homestay', id=data.id) }}" style="color: black">
                  <strong>{{ data.nama_homestay.capitalize() }}</strong></a></p>
              {% else %}
              {% set infoDurasi = durasi.query.filter_by(id_homestay=data.id).first().malam %}
              <p class="h3"><a href="{{ url_for('home.detail_homestay', id=data.id) }}" style="color: black"
                  data-toggle="tooltip" data-placement="top" title="Sedang dibooking selama {{ infoDurasi }} hari">
                  <strong>{{ data.nama_homestay.capitalize() }}</strong></a></p>
              {% endif %}

              <div class="rating-wrap">
                <div class="text-muted">
                  <h6> lokasi : <br> <strong>{{ data.alamat }}, {{ data.provinsi }}</strong>
                </div>
                </h6>
                <div class="text-muted">
                  <h6> deskripsi : <br> {{ data.deskripsi[:200] }}
                </div></strong> </h6>
                <!-- <h5> {{ data.deskripsi[:145] }} . . . . </h5> -->
              </div> <!-- rating-wrap.// -->
              <!-- <p> {{ alamat }}</p> -->
            </article> <!-- col.// -->
            <aside class="col-sm-3 border-left">
              <div class="action-wrap">
                {% if data.diskon != 0 %}
                <div class="price-wrap h4">
                  <span class="price"> Rp. {{ diskon }} </span> <span style="font-size: 14px;">/ malam</span> <br>
                  <del class="price-old"> Rp. {{ idr }} </del>
                </div> <!-- info-price-detail // -->
                <h5 class="text-success">potongan {{data.diskon}} %</h5>
                {% else %}
                <div class="price-wrap h4">
                  <span class="price"> Rp. {{ diskon }}</span> <span style="font-size: 14px;">/ malam</span> <br>
                </div>
                {% endif %}
                <p>

                  <a href="{{ url_for('home.favorit', id=data.id) }}" class="btn btn-outline-success btn-sm">
                    <i class="fas fa-heart"></i>
                  </a>

                  {% if homeTersedia.ketersediaanHomestay == true  %}
                  <a href="{{ url_for('home.detail_homestay', id=data.id) }}" class="btn btn-info btn-sm">
                    Detail
                  </a> <br>
                  {% else %}
                  {% set infoDurasi = durasi.query.filter_by(id_homestay=data.id).first().malam %}
                  <a href="{{ url_for('home.detail_homestay', id=data.id) }}" class="btn btn-info btn-sm"
                    data-toggle="tooltip" data-placement="top" title="Sedang dibooking selama {{ infoDurasi }} hari">
                    Detail
                  </a>
                  <div style="margin-bottom: 10px"></div>
                  {% endif %}

                  {% if homeTersedia.ketersediaanHomestay == true  %}

                  <span class="badge badge-success">tersedia</span>
                  {% else %}
                  {% set infoDurasi = durasi.query.filter_by(id_homestay=data.id).first().malam %}
                  <span class="badge badge-danger" style="margin-right: 3px">Reserved</span> <span
                    class="badge badge-warning">s/d
                    {{ data.tanggal_selesai[:11] }}</span>
                  <span class="badge badge-success" style="margin-right: 3px"> selama {{ infoDurasi }} hari</span>
                  {% endif %}

                </p>
              </div> <!-- action-wrap.// -->
            </aside> <!-- col.// -->
          </div> <!-- row.// -->
          <br>
          <legend class="border-bottom mb-4"></legend>
          {% endfor %}
        </div> <!-- card-body .// -->
      </div>

    </div>
  </div>

  <div class="row">

    <div class="col-sm"></div>
    <div class="col-sm">

      <!-- pagination -->
      {% if form %}
      <div>
        <nav aria-label="page" style="margin-left: 100px;">
          <ul class="pagination pagination-sm">
            {% if paginate.prev_num == None %}
            <li class="page-item disabled">
              <span class="page-link">Previous</span>
            </li>

            {% else %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for('home.index', page=paginate.prev_num) }}">Previous</a>
            </li>

            {% endif %}

            {% if prev_page == '0' %}
            {% else %}
            <li class="page-item"><a class="page-link"
                href="{{ url_for('home.index', page=paginate.prev_num) }}">{{ paginate.prev_num }}</a>
            </li>
            {% endif %}
            <li class="page-item active">
              <span class="page-link">
                {{paginate.page}}
                <span class="sr-only">(current)</span>
              </span>
            </li>
            {% if paginate.next_num != None %}
            <li class="page-item"><a class="page-link"
                href="{{ url_for('home.index', page=paginate.next_num) }}">{{paginate.next_num}}</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="{{ url_for('home.index', page=paginate.next_num) }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="{{ url_for('home.index', page=paginate.next_num) }}">Next</a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>

      {% else %}
      {% endif %}
      <!-- pahination -->


    </div>
    <div class="col-sm"></div>


  </div>


  </div>
</main>
{% endblock %}