{% extends "home_layout.html" %}
{% block content %}
<style>
    #carding {
        border-radius: 15px;
        padding: 20px;
        width: 100%;
        height: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
</style>
<main role="main" class="container">

    <div class="row">
        <div class="col-md-8">
            <div class="content-selection">
                <div class="content-section" id="carding">

                    <div class="card-body">
                        <div class="row">

                            <p>Silahkan Transfer pembayaran Anda melalui bank yang disediakan di bawah ini. Pastikan
                                total transfernya sesuai dengan jumlah yang tertera. Harap diperhatikan,
                                setelah transfer dilakukan, harap tekan tombol <span
                                    class="badge badge-danger">Konfirmasi</span> jika hanya Anda telah melakukan
                                transfer ke salah satu rekening yang tertera di bawah ini.</p>
                        </div>
                        <p class='text-muted'>
                            <legend class="border-bottom mb-4"> <strong></strong></legend>
                        </p>
                        <div class="row">

                            <div class="img-wrap"><img class="rounded float-left" src="static/mandiri.jpg"
                                    width="250px"></div>



                            <article class="col-sm-6">

                                <a href="#" style="color: black"> <strong>Bank Mandiri</strong></a>
                                <div class="rating-wrap">
                                    <div class="text-muted"><strong> No. Rek : </strong> 00865439000324 </div>
                                    </strong>
                                </div> <!-- rating-wrap.// -->
                                <div class="price-wrap h4">
                                    <span class="price"> A/N. PT Kamseupai Guna Daya </span> <br>

                                </div> <!-- info-price-detail // -->
                                <!-- <p><a href="#" class="btn btn-danger"> Konfirmasi </a></p> -->
                            </article> <!-- col.// -->
                            <!-- col.// -->
                        </div> <!-- row.// -->
                        <div class="row">

                            <div class="img-wrap"><img class="rounded float-left" src="static/bni.jpg" width="250px">
                            </div>

                            <article class="col-sm-6">

                                <a href="#" style="color: black"> <strong>Bank BNI</strong></a>
                                <div class="rating-wrap">
                                    <div class="text-muted"><strong> No. Rek : </strong> 00865439000324 </div>
                                    </strong>
                                </div> <!-- rating-wrap.// -->
                                <div class="price-wrap h4">
                                    <span class="price"> A/N. PT Kamseupai Guna Daya </span> <br>

                                </div> <!-- info-price-detail // -->
                                <!-- <p><a href="#" class="btn btn-danger"> Konfirmasi </a></p> -->
                            </article> <!-- col.// -->
                            <!-- col.// -->
                        </div> <!-- row.// -->
                    </div> <!-- card-body .// -->

                </div>

            </div>
            <!-- TAMBAHKAN CONTENT LAGI DI SINI -->
        </div>
        <div class="col-md-4">
            <div class="content-section" id="carding">
                <div class="card-body">

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Nilai Transfer</th>
                            </tr>
                        </thead>
                        <tbody>

                            <th scope="row">Total</th>
                            <td>
                                <div class="price-wrap h4"><span class="price"> <strong> Rp. {{formatrupiah(total)}}
                                        </strong>
                                    </span></div>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <br>
                <article class="col-sm">
                    <p>
                        <!-- <a href="{{ url_for('home.proses_pembayaran') }}" class="btn btn-danger btn-block"> Konfirmasi
                        </a> -->
                        <button type="button" class="btn btn-danger btn-block" data-toggle="modal"
                            data-target="#exampleModal" data-whatever="@mdo">Konfirmasi</button>
                    </p>
                </article> <!-- col.// -->

                <!-- MODAL -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" id='carding'>
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Pesan Homestay</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <form action="" method="POST" enctype="multipart/form-data">
                                    {{ form.hidden_tag() }}
                                    <fieldset class="form-group">
                                        {{ form.nama_rek.label(class='form-control-label') }}
                                        {% if form.nama_rek.errors %}
                                        {{ form.nama_rek(class='form-control form-control-lg is-invalid') }}
                                        <div class="invalid-feedback">
                                            {% for error in form.nama_rek.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.nama_rek(class='form-control form-control-lg') }}
                                        {% endif %}

                                    </fieldset>
                                    <fieldset class="form-group">
                                        {{ form.bank_tujuan.label(class='form-control-label') }}
                                        {% if form.bank_tujuan.errors %}
                                        {{ form.bank_tujuan(class='form-control form-control-lg is-invalid') }}
                                        <div class="invalid-feedback">
                                            {% for error in form.bank_tujuan.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.bank_tujuan(class='form-control form-control-lg') }}
                                        {% endif %}
                                    </fieldset>

                                    </fieldset>
                                    <fieldset class="form-group">
                                        {{ form.foto_bukti.label(class='form-control-label') }}
                                        {% if form.foto_bukti.errors %}
                                        {{ form.foto_bukti(class='form-control form-control-lg is-invalid') }}
                                        <div class="invalid-feedback">
                                            {% for error in form.foto_bukti.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.foto_bukti(class='form-control form-control-lg') }}
                                        {% endif %}
                                    </fieldset>
                                    <div class="modal-footer">
                                        <!-- <button type="submit" class="btn btn-info btn-block">Pesan Homestay</button> -->
                                        <!-- <fieldset class="form-group"> -->
                                        {{ form.submit(class='btn btn-info btn-block') }}
                                        <!-- </fieldset> -->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL -->



                </div>
            </div>
        </div>
</main {% endblock %}