{% extends "home_layout.html" %}
{% block content %}
<style>
  #carding {
    border-radius: 15px;
    padding: 20px;
    width: auto;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .circular--square {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
  }

  .image-cropper {
    width: 160px;
    height: 160px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: inline;
    margin: 0 auto;
  }
</style>
<main role="main" class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

      <div class="content-section" id="carding">
        <p class='text-muted'>
          <legend class="border-bottom mb-4"> Account Profile</legend>
        </p>
        <div class="card-body">

          <div class="row">

            <aside class="col-sm-3" style="margin-right: 30px">
              <div class="image-cropper">

                <!-- GAMBAR FOTO PROFILE -->
                {% if img_user is not none %}
                <img id="img" class="image-cropper" src="{{ img_user }}">
                {% endif %}
                <!-- GAMBAR FOTO PROFILE -->
              </div>
            </aside> <!-- col.// -->


            <article class="col-sm-6">
              <dl class="dlist-align">
                <dt>Username</dt>
                <dd>{{ form_user.username }}</dd>
              </dl> <!-- item-property-hor .// -->
              <dl class="dlist-align">
                <dt>Email</dt>
                <dd>{{ form_user.email }}</dd>
              </dl> <!-- item-property-hor .// -->
              <dl class="dlist-align">
                <dt>Nama Lengkap</dt>
                <dd>{{ form.nama_lengkap }}</dd>
              </dl> <!-- item-property-hor .// -->
              <dl class="dlist-align">
                <dt>Jenis Kelamin</dt>
                <dd>{{ form.jenis_kelamin }}</dd>
              </dl> <!-- item-property-hor .// -->
              <dl class="dlist-align">
                <dt>Nomor HP</dt>
                <dd>{{ form.nomor_hp }}</dd>
              </dl> <!-- item-property-hor .// -->
              <dl class="dlist-align">
                <dt>Alamat Lengkap</dt>
                <dd>{{ form.alamat }}</dd>
              </dl> <!-- item-property-hor .// -->
              <dl class="dlist-align">
                <dd><a href="{{ url_for('home.edit_user') }}" class="btn btn-success btn-block">Edit Profil</a></dd>
              </dl>
              </h5>
            </article> <!-- col.// -->
          </div>
        </div> <!-- row.// -->
      </div> <!-- card-body .// -->

      </article> <!-- product-list.// -->
    </div>
    <div class="col-md-2"></div>


  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
</main>
{% endblock %}