{% extends "main_layout.html" %}
{% block content %}


<!-- JUMBOTRON -->
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="content-section" id="carding">
            <div class="jumbotron-fluid">
                <h1 class="display-4">Konfrimasi Email Anda !</h1>
                <p class="lead">Kami telah mengirimkan email konfirmasi ke akun email Anda,
                    silahkan cek email Anda
                    untuk konfirmasi pendaftarannya. Terima kasih :)</p>
                <hr class="my-4">
                <!-- <a class="btn btn-primary btn-lg" href="{{url_for('home.index')}}" role="button">Kembali ke</a> -->
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}