<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Bai Jamjuree' rel='stylesheet'>
    {% if title %}
    <title>Data - {{ title }}</title>
    {% else %}
    <title>Kamseupai</title>
    <script src="https://kit.fontawesome.com/c32b8806e8.js"></script>

    {% endif %}

    <style>
        body {
            background-image: url('{{ url_for('static', filename='background.png') }}');
            font-family: 'Bai Jamjuree';
            font-size: 22px;
        }

        .bg-info {
            background-color: #03A4D2 !important;
        }


        .btn-light,
        .btn-light:active,
        .btn-light:visited {
            color: #03A4D2;
            font-weight: bold;
        }
    </style>
</head>

<body>

    <header class="site-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top">
            <div class="container">
                <img src="{{ url_for('static', filename='test.png') }}" width="130px;">
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <form class="form-inline">
                            <div class="form-group mb-2">
                                <input type="text" class="form-control" id="inputPassword2"
                                    placeholder="Temukan Homestay">
                            </div>
                            <div class="form-group mx-sm-2 mb-2">
                            </div>
                            <button type="submit" class="btn btn-warning mb-2">Cari Homestay</button>
                        </form>
                    </div>
                    <div class="navbar-nav">
                        <div class="collapse navbar-collapse" id="navbarToggle">
                            <div class="navbar-nav mr-auto">

                                <div class="dropdown" style="margin-top:9px;">
                                    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu2"
                                        style="color: white" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <i class="fas fa-bookmark"></i> Favorit
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        <button class="dropdown-item" type="button">Action</button>
                                        <button class="dropdown-item" type="button">Another action</button>
                                        <button class="dropdown-item" type="button">Something else here</button>
                                    </div>
                                </div>


                                <a class=" nav-item nav-link" href="{{ host }}/login"><input type="submit"
                                        class="btn btn-outline-light" value="Login"></a>
                                <a class="nav-item nav-link" href="{{ host }}/register"><input type="submit"
                                        class="btn btn-light" value="Register" color="black"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    {% block content %}{% endblock %}

</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</html>