{% extends "admin_layout.html" %}
{% block content %}
<style>
    #carding {
        border-radius: 15px;
        padding: 20px;
        width: auto;
        height: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
</style>
<main role="main" class="container">
    <div class="content-section" id="carding">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert"> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <p class='text-muted'>
            <legend class="border-bottom mb-4"> <strong>List slider</strong></legend>
        </p>
        <div>
            <a href="{{ url_for('admin.add_slider') }}" class="btn btn-info"><i class="fas fa-plus"></i>Tambah</a>
        </div>
        <br>

        <div class="table-responsive-md">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">File</th>
                        <th scope="col">Action</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                {% for form, id in forms|zip(no) %}
                <tbody>
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td><img src="{{form.image}}" width="400px" alt=""></td>
                        <td>
                            <a href="{{ url_for('admin.delete_slider', id=form.id) }}" class="btn btn-danger"><i
                                    class="fas fa-trash-alt"></i> Hapus Gambar</a>
                        </td>
                        <td>

                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>

        </div>

        <!-- <legend class="border-bottom mb-4"></legend> -->
        <br>
    </div>
</main>

{% endblock %}