{% extends "admin_layout.html" %}
{% block content %}
<main role="main" class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">

            <style>
                #carding {
                    border-radius: 15px;
                    padding: 20px;
                    width: 450px;
                    height: auto;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }
            </style>
            <div class="content-selection">
                <div class="content-section" id="carding">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert"> {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <div class="card-body">

                        <!-- <form method="POST" action=""> -->
                        <form action="" method="POST" enctype="multipart/form-data">
                            {{ form.hidden_tag() }}
                            <fieldset class="form-group">
                                {{ form.wisata.label(class='form-control-label') }}
                                {% if form.wisata.errors %}
                                {{ form.wisata(class='form-control form-control-lg is-invalid') }}
                                <div class="invalid-feedback">
                                    {% for error in form.wisata.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.wisata(class='form-control form-control-lg') }}
                                {% endif %}

                            </fieldset>
                            <fieldset class="form-group">
                                {{ form.fasilitas.label(class='form-control-label') }}
                                {% if form.fasilitas.errors %}
                                {{ form.fasilitas(class='form-control form-control-lg is-invalid') }}
                                <div class="invalid-feedback">
                                    {% for error in form.fasilitas.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.fasilitas(class='form-control form-control-lg') }}
                                {% endif %}

                            </fieldset>
                            <fieldset class="form-group">
                                {{ form.kegiatan.label(class='form-control-label') }}
                                {% if form.kegiatan.errors %}
                                {{ form.kegiatan(class='form-control form-control-lg is-invalid') }}
                                <div class="invalid-feedback">
                                    {% for error in form.kegiatan.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.kegiatan(class='form-control form-control-lg') }}
                                {% endif %}

                            </fieldset>
                            <fieldset class="form-group">
                                {{ form.biaya.label(class='form-control-label') }}
                                {% if form.biaya.errors %}
                                {{ form.biaya(class='form-control form-control-lg is-invalid') }}
                                <div class="invalid-feedback">
                                    {% for error in form.biaya.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.biaya(class='form-control form-control-lg') }}
                                {% endif %}

                            </fieldset>

                            <fieldset class="form-group">
                                {{ form.id_homestay.label(class='form-control-label') }}
                                {% if form.id_homestay.errors %}
                                {{ form.id_homestay(class='form-control form-control-lg is-invalid') }}
                                <div class="invalid-feedback">
                                    {% for error in form.id_homestay.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.id_homestay(class='form-control form-control-lg') }}
                                {% endif %}

                            </fieldset>

                            <fieldset class="form-group">
                                {{ form.foto_wisata.label(class='form-control-label') }}
                                {% if form.foto_wisata.errors %}
                                {{ form.foto_wisata(class='form-control form-control-lg is-invalid') }}
                                <div class="invalid-feedback">
                                    {% for error in form.foto_wisata.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.foto_wisata(class='form-control form-control-lg') }}
                                {% endif %}

                            </fieldset>
                            <fieldset class="form-group">
                                {{ form.submit(class='btn btn-info btn-block') }}
                            </fieldset>
                        </form>
                        <!-- </form> -->


                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm"></div>
    </div>
    </div>
</main>




{% endblock %}