{% extends "admin_layout.html" %}
{% block content %}
<style>
    #carding {
        border-radius: 15px;
        padding: 20px;
        width: auto;
        height: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
</style>
<main role="main" class="container">
    <div class="content-section" id="carding">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert"> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <p class='text-muted'>
            <legend class="border-bottom mb-4"> <strong>Lihat Semua Wisata</strong></legend>
        </p>


        <form>
            <div class="form-row">
                <div class="col-3">
                    <input type="text" class="form-control mr-sm-2" type="search"
                        placeholder="Kata kunci atraksi/wisata">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-outline-info"> Cari </button>
                </div>
            </div>
        </form>
        <br>

        <div class="table-responsive-md">

            <table class="table table-hover" style="width: 100%;">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nama Atraksi/wisata</th>
                        <th scope="col">Homestay</th>
                        <th scope="col">Code</th>
                        <th scope="col">Aksi</th>
                    </tr>
                </thead>
                {% for form, id in forms|zip(no) %}
                <tbody>
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{form.wisata}}</td>
                        <td> {{ form.id_homestay }} </td>
                        <td>{{form.code_wisata}}</td>
                        <td>
                            <a href="{{ host }}/admin/wisata/edit/{{ form.id }}" class="btn btn-success"> <i
                                    class="fas fa-edit"></i> Edit</a>
                            <a href="{{ host }}/admin/wisata/delete/{{ form.id }}" class="btn btn-danger"><i
                                    class="fas fa-trash-alt"></i> Hapus</a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>

        </div>


        <!-- <legend class="border-bottom mb-4"></legend> -->
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm">

                </div>
                <div class="col-sm">

                    <!-- pagination -->
                    <div>
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li class="page-item disabled">
                                    <span class="page-link">Previous</span>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active">
                                    <span class="page-link">
                                        2
                                        <span class="sr-only">(current)</span>
                                    </span>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- pahination -->

                </div>
                <div class="col-sm">

                </div>
            </div>
        </div>


    </div>
</main>

{% endblock %}